<div>
  <div>
    <h1>
      List of all programs
    </h1>
  </div>
</div>

<hr>
<% if session[:user_id] != nil %>
<div>
  <div>
    <h2>
      Add a new program
    </h2>

    <form action="/insert_program" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="cover_letter_box">
          Cover letter
        </label>

        <input type="text" id="cover_letter_box" name="query_cover_letter">
      </div>

      <div>
        <label for="role_box">
          Role
        </label>

        <input type="text" id="role_box" name="query_role">
      </div>

      <div>
        <label for="division_box">
          Division
        </label>

        <input type="text" id="division_box" name="query_division">
      </div>

      <div>
        <label for="app_link_box">
          App link
        </label>

        <input type="text" id="app_link_box" name="query_app_link">
      </div>

      <div>
        <label for="applied_box">
          Applied
        </label>

        <input type="text" id="applied_box" name="query_applied">
      </div>

      <button>
        Create program
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Name
        </th>

        <th>
          Cover letter
        </th>

        <th>
          Role
        </th>

        <th>
          Division
        </th>

        <th>
          App link
        </th>

        <th>
          Applied
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_programs.each do |a_program| %>
      <tr>

        <td>
          <%= a_program.name %>
        </td>

        <td>
          <%= a_program.cover_letter %>
        </td>

        <td>
          <%= a_program.role %>
        </td>

        <td>
          <%= a_program.division %>
        </td>

        <td>
          <%= a_program.app_link %>
        </td>

        <td>
          <%= a_program.applied %>
        </td>

        <td>
          <%= time_ago_in_words(a_program.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_program.updated_at) %> ago
        </td>

        <td>
          <a href="/programs/<%= a_program.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% else %>
  <div style="color: red">You are not signed in!</div>
<%end%>

<hr>
